body{ margin:0px; padding:0px; background:#fff;}
*{ margin:0px; padding:0px;}



#wrapper{ width:100%; float:left;}
.header-wrap{ width:100%; float:left;margin-bottom: 20px; padding: 10px 0 0;}
.containor{ max-width:1120px; width:100%; margin:0 auto;}
.lookup-btn{ float:right; margin:3px 0 0 0;}
.current-portfolio{ float:left; width:100%;}
.fr{ float:right !important;}
.fl{ float:left !important;}
.margin-top{ margin:10px 0 0 0;}
.blue-bg{ background:#2664d5; color:#fff;}
.logo{ color:#fff !important; font-size:18px; font-family:Arial, Helvetica, sans-serif;   margin-top: 13px;}
.black-btn{ background:#3c3c3c; color:#fff !important;}
.black-btn:hover{ color:#fff !important;}
.ford-btm{ float:left; margin:10px 0 0 0;}
.ford-btm a{ float:left; color:#2664d5 !important; text-decoration:underline; margin:0 10px;}
.ford-btm h2 {
    float: left;
    font-size: 20px;
    margin: 13px;
}