{% block title %}<title>Stock Exchange Simulator</title>{% endblock %}

{% block messages %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{%  endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock js %}


{% block header %}
	<div style="width:100%;height:35%;border-bottom: 3px outset #000000;height: 10%;">
			<div style="width:70%;"><span><b> Simple Stock Exchange </span></b></div>
			<div style="width:30%;float:right;margin: -21px 0 0;padding: 0;">
				<form action="/stockapp/search/" method="GET">{% csrf_token %}
					<b><input type="text" name="q"> </b>
					</b><input type="submit" name="submit" value="submit">
				</form>
				<span style="float:right; margin: -35px 10px 0;"><b>look up</b></span>
			</div>
	</div>
{%  endblock %}

{% block main_content %}
	<div style="float:right;width:80%;">
		<p>
			<span><b>Current Portfolio</b></span>
			<span style="float:right;margin-right: 12%;"><b>${{userProfile.available_balance}}</b><span>
		</p>
		<table border="1px" style="height:35%;width: 88%;}">
			<thead>
				<th>Company</th>
				<th>Quantity</th>
				<th>Price Paid</th>
			</thead>
			<tbody>
				{% for key, value in data.items  %}
					<tr>
						<td>{{value.json.name}}</td>
						<td>Not Found</td>
						<td>{{value.json.price}}</td>
						<td><a target="_blank" href='{% url "view_stock" value.json.symbol %}'>view stock</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block extra_js %}
{% endblock %}

