{% extends "base.html" %}
{% load static %}

{% block main_content %}
		<div class="current-portfolio"><!--cureent-portfolio-->
      <div class="container">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Current Portfolio<span class="fr">${{userProfile.available_balance}}</span></div>
        
          <!-- Table -->
             <table border="0" cellpadding="0" cellspacing="0"  class="table">
				<thead>
					<tr>
						<th>Company</th>
						<th>Quantity</th>
						<th>Price Paid</th>
		                <th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for key, value in data.items  %}
						<tr>
							<td>{{value.json.name}}</td>
							<td>Not Found</td>
							<td>{{value.json.price}}</td>
							<td><a href='{% url "view_stock" value.json.symbol %}'>view stock</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

           </div>
      </div>
   </div><!--cureent-portfolio-end-->



   
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <table  class="table-bordered table">
	
		<tbody><tr>
			<td>symbol</td>
			<td>F</td>
		</tr>
	
		<tr>
			<td>yearhigh</td>
			<td>18.23000</td>
		</tr>
	
		<tr>
			<td>pricedaychange</td>
			<td>-0.32</td>
		</tr>
	
		<tr>
			<td>sector</td>
			<td>Capital Goods</td>
		</tr>
	
		<tr>
			<td>priceclose</td>
			<td>15.11</td>
		</tr>
	
		<tr>
			<td>daylow</td>
			<td>9.97000</td>
		</tr>
	
		<tr>
			<td>price</td>
			<td>16.68000</td>
		</tr>
	
		<tr>
			<td>pricepercentchange</td>
			<td>-2.12</td>
		</tr>
	
		<tr>
			<td>peratio</td>
			<td>9.29</td>
		</tr>
	
		<tr>
			<td>dayhigh</td>
			<td>18.23000</td>
		</tr>
	
		<tr>
			<td>asksize</td>
			<td>22</td>
		</tr>
	
		<tr>
			<td>exchange</td>
			<td>NYSE</td>
		</tr>
	
		<tr>
			<td>volume</td>
			<td>114027984</td>
		</tr>
	
		<tr>
			<td>ask</td>
			<td>16.68000</td>
		</tr>
	
		<tr>
			<td>marketcap</td>
			<td>57.362B</td>
		</tr>
	
		<tr>
			<td>industry</td>
			<td>Auto Manufacturing</td>
		</tr>
	
		<tr>
			<td>bid</td>
			<td>16.67000</td>
		</tr>
	
		<tr>
			<td>epsdiluted</td>
			<td>1.626</td>
		</tr>
	
		<tr>
			<td>name</td>
			<td>Ford Motor Company</td>
		</tr>
	
		<tr>
			<td>yearlow</td>
			<td>8.82</td>
		</tr>
	
		<tr>
			<td>bidsize</td>
			<td>6</td>
		</tr>
	
		<tr>
			<td>eps</td>
			<td>None</td>
		</tr>
	
		<tr>
			<td>priceopen</td>
			<td>15.01</td>
		</tr>
	
	</tbody></table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary ">Save changes</button>
      </div>
    </div>
  </div>
</div>



   
{%  endblock %}